* {
    margin: 0px;
    padding: 0px;
  }
  body
    {
      font-size: 80%;
      background-image: url('.jpg');
      background-size: cover;
      padding-left: 180px;
    }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: rgb(19, 18, 18);
    background: #f8ed53;
    text-align: center;
    border: 5px solid#f7eb4f;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 5px solid #f7eb4f;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  input {
    margin: 10px 0px 10px 0px;
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  input label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #0a0a0a;
    border: none;
    border-radius: 5px;
  }
  
  #signupForm label{
      display: block;
      margin-top: 10px;
  }
  
  #error
  {
      color:red;
  }
  .clear {
      clear: both;
  }
  
  .a2 {
    width: 10%;
    margin-left: 270px;
    color: white;
    text-decoration: none;
    background: #080808;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
  }
  .a3 {
    width: 10%;
    margin-left: 300px;
    color: white;
    text-decoration: none;
    background: #080808;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
  }
  .a4 {
    width: 10%;
    margin-left: 400px;
    color: white;
    text-decoration: none;
    background: #080808;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
  }
  .a5{
    width: 10%;
    margin-left: 650px;
    color: white;
    text-decoration: none;
    background: #080808;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
  }
  
  .a1 {
      clear: both;
      width: 10%;
      margin-bottom: 0px;
      float: right;
      color: white;
      text-decoration: none;
      background: #070707;
      text-align: center;
      border: 1px solid #B0C4DE;
      border-radius: 10px 10px 10px 10px;
      padding: 20px;
    }
    .p1 {
      float: right;
      color: rgb(3, 3, 3);
      padding: 20px;
    }
    .p2 {
      margin-left: 500px;
      color: rgb(11, 12, 12);
      padding: 20px;
    }
  
    table{
      width: 80%;
      margin: 95px auto;
      border-collapse: collapse;
      text-align: left;
  }
  tr {
      border-bottom: 1px solid #cbcbcb;
  }
  th, td{
      border: none;
      height: 30px;
      padding: 5px;
      text-align: center;
  }
  tr:hover {
      background: #F5F5F5;
  }
  
  .edit_btn {
      text-decoration: none;
      padding: 2px 5px;
      background: #2E8B57;
      color: white;
      border-radius: 3px;
  }
  .edit_btn1 {
    text-decoration: none;
    padding: 2px 5px;
    background: red;
    color: white;
    border-radius: 3px;
}
  
  .del_btn {
      text-decoration: none;
      padding: 2px 5px;
      color: white;
      border-radius: 3px;
      background: #800000;
  }
  .select
  {
        margin: 10px 0px 10px 0px;
        height: 30px;
        width: 93%;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
        display: block;
        text-align: left;
        margin: 3px;
     
  }
  /**---------------------------------**/
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .grid-container {
    display: grid;
    height: 700px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: black;
    padding: 20px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    opacity: 0.8;
    height: 200px;
    border-radius: 10px;
  }
  
  div {
    border-radius: 10px;
  }
  
  .header1 {
    padding: 65px;
    text-align: center;
    background: #570b55;
    color: white;
    font-size: 10px;
  }
  
  .header2 {
    padding: 65px;
    text-align: center;
    background: green;
    color: white;
    font-size: 10px;
  }
  
  .header3 {
    padding: 65px;
    text-align: center;
    background: red;
    color: white;
    font-size: 10px;
  }
  
  .header4 {
    padding: 65px;
    text-align: center;
    background: yellow;
    color: white;
    font-size: 10px;
  }
  
  .header5 {
    padding: 65px;
    text-align: center;
    background-color: #f56807;
    color: white;
    font-size: 10px;
  }
  
  .header6 {
    padding: 65px;
    text-align: center;
    background-color: #07c3f5;
    color: white;
    font-size: 10px;
  }
  
  body {
    padding-left: 200px;
    background-color: #d0cbd0;
  }
  
  .a1:link,
  .a1:visited {
    background-color: #f44336;
    color: white;
    float: none;
    padding: 8px 15px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline;
  }
  
  .a1:hover,
  .a1:active {
    background-color: grey;
  }
  
  .topnav-right {
    float: right;
  }